.page__main-section.topic {
  max-width: 800px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.topic__article {
  margin-top: 20px;
}

.topic__text {
  margin-top: 10px;
  line-height: 1.5;
}

.topic__title {
  margin-top: 30px;
  font-size: 24px;
}
