<!DOCTYPE html>
<html lang="en">
{{> head}}

<body class="page">
  {{> header }}
  <main class="page__main-section topic">
    <div class="container">
      <h1 class="page__title">Страница записи</h1>
      <article class="topic__article">
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
        <h2 class="topic__title">Subtitle</h2>
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
        <h2 class="topic__title">Subtitle</h2>
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
        <p class="topic__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum laboriosam facere hic beatae,
          placeat modi molestiae aut? Culpa optio voluptate cumque facilis incidunt accusamus nobis saepe adipisci quo
          molestias.
          Delectus alias nihil at maxime totam ipsum esse molestiae numquam id illum consequuntur beatae distinctio,
          accusamus, nesciunt quae quisquam commodi harum, incidunt quis? Maiores, pariatur ab? In aspernatur sed
          eligendi?
          Expedita odit, reiciendis vel qui iste eligendi repudiandae laboriosam quibusdam obcaecati voluptate fugit,
          saepe, culpa fugiat tempore inventore. Rem non tenetur consequuntur molestias, facilis sint repudiandae
          architecto explicabo illum similique.
          Atque porro nostrum exercitationem rem eius tenetur, molestias numquam beatae cumque error aperiam natus
          dolorem
          ea velit pariatur illum harum molestiae fugit eligendi optio unde repudiandae perferendis nisi. Delectus,
          deserunt.
          Provident nihil possimus repellendus quia velit quam animi, consequatur id quos ad similique pariatur! Earum
          facilis numquam dolor provident necessitatibus ullam laudantium minus magni quas omnis natus, debitis
          reiciendis
          sequi.
        </p>
      </article>
    </div>
  </main>
  {{> footer }}
</body>

</html>