<!DOCTYPE html>
<html lang="en">
{{> head}}

<body class="page">
  {{> header }}
  <main class="page__main-section catalog">
    <div class="container">
      <h1 class="page__title">Список записей</h1>

      <article class="catalog__article catalog__article_short article">
        <h2 class="article__title">Заголовок статьи</h2>
        <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
          repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
          placeat cumque.
          Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
          consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
          obcaecati mollitia vitae.
          Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
          officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
          Excepturi, est?</p>
        <a class="article__link" href="./article.html">Read more...</a>
      </article>
      <article class="catalog__article catalog__article_short article">
        <h2 class="article__title">Заголовок статьи</h2>
        <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
          repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
          placeat cumque.
          Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
          consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
          obcaecati mollitia vitae.
          Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
          officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
          Excepturi, est?</p>
        <a class="article__link" href="./article.html">Read more...</a>
      </article>
      <article class="catalog__article catalog__article_short article">
        <h2 class="article__title">Заголовок статьи</h2>
        <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
          repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
          placeat cumque.
          Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
          consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
          obcaecati mollitia vitae.
          Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
          officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
          Excepturi, est?</p>
        <a class="article__link" href="./article.html">Read more...</a>
      </article>
      <article class="catalog__article catalog__article_short article">
        <h2 class="article__title">Заголовок статьи</h2>
        <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
          repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
          placeat cumque.
          Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
          consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
          obcaecati mollitia vitae.
          Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
          officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
          Excepturi, est?</p>
        <a class="article__link" href="./article.html">Read more...</a>
      </article>

    </div>
  </main>
  {{> footer }}
</body>

</html>