<!DOCTYPE html>
<html lang="en">
{{> head}}

<body class="page">
  {{> header }}
  <main class="page__main-section feedback">
    <div class="container">
      <h1 class="page__title">Обратная связь</h1>
      <form class="feedback__form form">
        <textarea class="form__text" name="feedback" id="feedback" cols="30" rows="10"></textarea>
        <input class="form__submit" type="submit" value="Отправить">
      </form>
    </div>
  </main>
  {{> footer }}
</body>

</html>