<!DOCTYPE html>
<html lang="en">
{{> head}}

<body class="page">
  {{> header }}
  <main class="page__main-section main">
    <div class="container">
      <aside class="main__side-bar side-bar">
        <nav class="side-bar__nav">
          <ul class="side-bar__nav-list">
            <li class="side-bar__nav-item">
              <a class="side-bar__nav-link" href="./article.html">Статья 1</a>
            </li>
            <li class="side-bar__nav-item">
              <a class="side-bar__nav-link" href="./article.html">Статья 2</a>
            </li>
            <li class="side-bar__nav-item">
              <a class="side-bar__nav-link" href="./article.html">Статья 3</a>
            </li>
            <li class="side-bar__nav-item">
              <a class="side-bar__nav-link" href="./article.html">Статья 4</a>
            </li>
            <li class="side-bar__nav-item">
              <span>...</span>
            </li>
          </ul>

        </nav>
      </aside>
      <section class="main__content">
        <h1 class="page__title">Главная страница</h1>
        <div class="slider">
          Reserved for carousel
        </div>
        <article class="main__article main__article_short article">
          <h2 class="article__title">Заголовок статьи</h2>
          <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
            repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
            placeat cumque.
            Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
            consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
            obcaecati mollitia vitae.
            Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
            officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
            Excepturi, est?</p>
            <a class="article__link" href="./article.html">Read more...</a>

        </article>
        <article class="main__article main__article_short article">
          <h2 class="article__title">Заголовок статьи</h2>
          <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
            repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
            placeat cumque.
            Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
            consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
            obcaecati mollitia vitae.
            Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
            officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
            Excepturi, est?</p>
            <a class="article__link" href="./article.html">Read more...</a>

        </article>
        <article class="main__article main__article_short article">
          <h2 class="article__title">Заголовок статьи</h2>
          <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
            repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
            placeat cumque.
            Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
            consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
            obcaecati mollitia vitae.
            Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
            officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
            Excepturi, est?</p>
            <a class="article__link" href="./article.html">Read more...</a>

        </article>
        <article class="main__article main__article_short article">
          <h2 class="article__title">Заголовок статьи</h2>
          <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta distinctio quam
            repellat consequatur, necessitatibus a dolore vitae eos, iusto alias nihil unde quia earum? Minima a ad sit
            placeat cumque.
            Facere quis labore reprehenderit adipisci placeat consectetur ipsum unde dolore. Maiores, sequi rem? Minima
            consequuntur nesciunt magnam. Quis facere libero placeat earum animi tenetur consequuntur sit, numquam
            obcaecati mollitia vitae.
            Quidem, omnis illo consequatur iure odio quasi soluta vitae quis doloremque nisi delectus veniam rerum eius
            officiis ratione harum commodi labore exercitationem, dicta suscipit debitis deleniti tempore possimus.
            Excepturi, est?</p>
            <a class="article__link" href="./article.html">Read more...</a>

        </article>


      </section>

    </div>
  </main>
  {{> footer }}
  <script src="../../index.js"></script>
</body>

</html>