.main > .container {
  display: flex;
}

.main__side-bar {
  flex: 1 1 auto;
  height: 100%;
  padding: 20px;
}

.main__content {
  flex: 1 1 auto;
  padding: 20px;
}

.side-bar__nav {
  width: 300px;
}

.side-bar__nav-item {
  margin-top: 20px;
}

.main__article {
  margin: 20px 0 30px;
}

.article__title {
  font-size: 24px;
}

.article__text {
  margin-top: 10px;
}

.article__link {
  display: block;
  margin-top: 10px;
}

.slider {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
  background-color: rgb(100 104 113);
}

@media screen and (width <= 768px) {
  .side-bar{
    display: none;
  }
  
}