<header class="page__header">
  <div class="container">
    <nav class="page__nav nav">
      <a href="/"></a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="./index.html">Главная</a></li>
        <li class="nav__item"><a class="nav__link" href="./catalog.html">Статьи</a></li>
        <li class="nav__item"><a class="nav__link" href="./feedback.html">Обратная связь</a></li>
        <li class="nav__item"><a class="nav__link" href="./about.html">Об авторе</a></li>
      </ul>
    </nav>
  </div>
</header>