<header class="page__header">
  <div class="container">
    <nav class="page__nav nav">
      <a href="/"></a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
        <li class="nav__item"><a class="nav__link" href="/catalog">Статьи</a></li>
        <li class="nav__item"><a class="nav__link" href="/feedback">Обратная связь</a></li>
        <li class="nav__item"><a class="nav__link" href="/about">Об авторе</a></li>
      </ul>
    </nav>
  </div>
</header>